body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 92%;
    color: black;
height: 100%;
  width: 90%;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;

}

li {
    display: inline;
    padding: 8px;
}

li:hover {
    text-decoration: underline;
}

#Y {
    position: relative;
    top: 5px;
    border-radius: 8px;
}

.toprightnav {
    position: absolute;
    top: 1%;
    right: 1%;
}

.topleftnav {
    position: absolute;
    top: 1%;
    left: .05%;
}

.logo {
    text-align: center;
}
.logo img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 35%;
}


.searchbar {
  text-align: center;
}

input {
  position: absolute;
  top: 65%;
  left: 30%;
  width: 420px;
}

button{
  position: relative;
  top: 550px;
}

footer {
  position: absolute;
  bottom: 1%;
  left: .05%;
}