body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 92%;
    color: black;
height: 100%;
  width: 90%;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;

}

li {
    display: inline;
    padding: 8px;
}

li:hover {
    text-decoration: underline;
}

#Y {
    position: relative;
    top: 5px;
    border-radius: 8px;
    margin: 0px;
    height: 24px;
    width: 24px;
}

.toprightnav {
    position: absolute;
    top: 1%;
    right: 1%;
}

.topleftnav {
    position: absolute;
    top: 1%;
    left: .05%;
}

.logo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    left: 40%;
    top: 30%;
}
.logo img {
  display: inline-block;
  position: relative;
}

form {
  position: relative;
}

input {
  width: 325px;
}




footer {
  position: absolute;
  bottom: 1%;
  left: .05%;
}